



.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Adjust this property as needed */
}
.card {
  width: 23%; /* Adjust this percentage based on your design preferences */
  height: 50%;
  margin-bottom: 20px;
  border: 5px solid #2b7255;
  overflow: hidden; /* Ensure the image doesn't overflow the card */
  background-color: aquamarine;
  text-align: center;
}
.card-image {
  width: 100%; /* Make the image fill the entire width of the card */
  height: auto; /* Maintain the aspect ratio */
  display: block; /* Remove any extra spacing beneath the image */
}

.image-container {
  width: 200px; /* Set the desired width */
  height: 200px; /* Set the desired height */
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-content {
  padding: 10px;
}




@media (max-width: 768px) {
  .card {
    width: 100%; /* Full width for one card per row on smaller screens */
  }
  .cart {
    width: 100%;
  }
}
.inventory {
  background-color: rgb(221, 217, 155);
  text-align: center;
  border: 5px rgb(89, 112, 155);
}
.add-product {
  background-color: rgb(129, 148, 190);
  text-align: center;
  border: 5px rgb(89, 112, 155);
}
.cart-new {
  background-color: rgb(228, 129, 228);
  text-align: center;
  border: 5px slateblue;
}
.search-bar {
  background-color: rgb(212, 214, 108);
  text-align: center;
  border: 5px slateblue;
}
.update {
  background-color: rgb(26, 185, 111);
  text-align: center;
  border: 5px slateblue;
}
.product-management {
  background-color: rgb(108, 166, 214);
  text-align: center;
  border: 5px slateblue;
}
.search-by-id {
  background-color: rgb(100, 117, 192);
  text-align: center;
  border: 10px black;
}
.butt {
  background-color: #b8ddd2;
  border: none;
  color: rgba(26, 10, 116, 0.329);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.sort {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background-color: rgba(237, 228, 100, 0.158);
}
.product-container {
  background-color: aquamarine;
  text-align: center;
  border: 5px slateblue;
}
.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust the height of the container as needed */
}
button {
  background-color: #04AA6D;
  border: none;
  color: red;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 1px .5px;
  cursor: pointer;
}

.page-background {
  background-image: url('https://cdn.pixabay.com/photo/2023/11/20/13/21/mountain-8401084_640.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.big-heading {
  font-size: 5em;
  color: blue;
  /* Additional styles for your heading go here */
}
.resupply {
  background-color: lightgrey;
  width: 200px;
  border: 10px solid green;
  padding: 50px;
  margin: 20px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
/*nav {
  background-color: #7476f1;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
nav ul li {
  margin-right: 20px;
}
.top-links {
  margin-bottom: auto; /* Pushes top links to the top 
}
.bottom-links {
  margin-top: auto;
}*/
/* Navbar.css */
nav {
  background-color: #3b679b;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  
}
.top-links ul,
.bottom-links ul {
  background-color: yellow;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.top-links ul li,
.bottom-links ul li {
  margin-right: 20px;
}

.bottom-links {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}




