body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Adjust this property as needed */
}
.card {
  width: 23%; /* Adjust this percentage based on your design preferences */
  margin-bottom: 20px;
  border: 5px solid #2b7255;
  overflow: hidden; /* Ensure the image doesn't overflow the card */
}


.image-container {
  width: 200px; /* Set the desired width */
  height: 200px; /* Set the desired height */
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-content {
  padding: 10px;
}
@media (max-width: 768px) {
  .card {
    width: 100%; /* Full width for one card per row on smaller screens */
  }
}
.cart {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background-color: rgb(100, 237, 184);
}
.delete {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background-color: rgb(224, 209, 222);
}
.resupply {
  background-color: lightgrey;
  width: 200px;
  border: 10px solid green;
  padding: 50px;
  margin: 20px;
}
.prod {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background-color: rgba(237, 100, 207, 0.555);
}

.sort {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background-color: rgba(237, 228, 100, 0.158);
}

.card1{
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background-color: rgba(30, 51, 65, 0.158)
}
button {
  background-color: #04AA6D;
  border: none;
  color: red;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 1px .5px;
  cursor: pointer;
}
.butt {
  background-color: #aa8304;
  border: none;
  color: rgba(37, 46, 83, 0.39);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
p {
  color:darkorchid;
}
h4 {
  color:rgb(0, 130, 33);
}
h3 {
  color:chocolate
}
h1 {
  color:rgb(100, 125, 237)
}
